body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: linear-gradient(45deg, #0078d7, #00c6ff, #ff4e50, #ffac81); 
    background-size: 400% 400%; 
    animation: gradientAnimation 10s ease infinite; 
    display: flex;
    height: 100vh;
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.dashboard-container {
    display: flex;
    width: 100%;
}

.sidebar {
    width: 20%;
    background-color: #0078d7;
    color: white;
    padding: 20px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
    font-size: 18px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    color: white;
    text-decoration: none;
    display: block;
    padding: 10px;
    border-radius: 5px;
}

.sidebar ul li a:hover {
    background-color: #005bb5;
}

.content {
    flex: 1;
    padding: 20px;
    text-align: center;
    background-color: #ffffff; 
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px;
    margin: 20px; 
}

.content h1 {
    font-size: 36px;
    color: #0078d7;
    margin-bottom: 20px;
}

.content .home-icon img {
    width: 150px;
    margin: 20px 0;
}

.content h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.content p {
    font-size: 16px;
    color: #555;
}

